* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-image: linear-gradient(to right, #00c6fb 20%, #005bea 80%);
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.calc {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
  border: 2px solid #a138a1;
}

.theme-toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 1;

  /* padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000; */
}

.theme-toggler.active::before {
  background: #fff;
}

.theme-toggler::before {
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333;
  z-index: -1;
}

#display {
  margin: 0 10px;
  height: 200px;
  width: auto;
  max-width: 270px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  margin-bottom: 20px;
  overflow-x: hidden;
  font-size: 30px;
}

#result {
  font-size: 18px;
  color: #a138a1;
  margin-bottom: 20px;
  transition: 0.3s;
}

#result.active {
  color: #fff;
  font-size: 40px;
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}

button {
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.1);
}

button#equal {
  /* background-color: #00c6fb; */
  background-color: #a138a1;
  /* height: 130px; */
  /* #fff#000000#000000#A138A1 */
}

/* light theme */

.calc {
  background-color: rgba(255, 255, 255, 0.5);
}

.calc #display {
  color: #0a1e23;
  color: #fff;
}

.calc button#clear {
  background-color: #ffd5d8; /* #ffd5d8  */
  color: #fc4552;
}

.calc button.btn-number {
  background-color: #c3eaff;
  color: #000;
}

.calc button.btn-operator {
  background-color: #ffd0fd;
  color: #f967f3;
}

.calc button.btn-equal {
  background-color: #00c6fb; /* #adf9e7 */
  color: #fff; /* #000 */
}

/* dark theme */
.calc.dark #result {
  color: #c3eaff;
}

.calc.dark {
  background-color: rgba(7, 17, 21, 0.9);
  box-shadow: 0 0 30px #fff;
}

.calc.dark #display {
  color: #f8fafd;
}

.calc.dark button#clear {
  background-color: #2d191e; /* #2d191e */
  color: #fc4552; /* #bd3740 */
}

.calc.dark button.btn-number {
  background-color: #1b2f38; /* #2d191e */
  color: #f8fafb;
}

.calc.dark button.btn-operator {
  background-color: #2e1f39; /* #2e1f39 */
  color: #aa00a4; /* #aa00a4 */
}

.calc.dark button.btn-equal {
  background-color: #223323; /* #2e1f39 */
  color: #fff; /* #aa00a4 */
}

table {
  border-spacing: 0px;
  border-collapse: collapse !important;
  width: 100%;
  padding: 0;
  border: none;
  display: table;
}

tr {
  border-collapse: collapse !important;
  display: table;
  padding: 0;
  border: none;
  width: 100%;
}

/* should minimize borders of cells */
/* td {
  border-collapse: collapse !important;
  padding: 0;
  border: none;
  width: 100%;
}  */

/* table tr {
  width: 100%;
  display: table;
  border-radius: 5px;
} */

/* table tr td {
  border-collapse: separate;
  border: thin solid ;
  background: red;
  background-color: #2e1f39; /* #2e1f39 */

/* width: 100%; */
/* padding: 0; */
/* } */

/* button { */
/* width: 100%; */
/* height: 100%; */
/* } */
